<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Menu esercizi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>

      <ion-col class="ion-text-center">
        <h5>Seleziona l'esercizio da visualizzare</h5>

        <ion-item>
          <ion-label position="floating">Seleziona esercizio</ion-label>
          <ion-select interface="popover" [(ngModel)]="indirizzo" class="ion-text-center">
            <ion-select-option>n7b</ion-select-option>
            <ion-select-option>n10</ion-select-option>
            <ion-select-option>n14</ion-select-option>
            <ion-select-option>n27</ion-select-option>
            <ion-select-option>n32</ion-select-option>
            <ion-select-option>n36</ion-select-option>
            <ion-select-option>palindroma</ion-select-option>
            <ion-select-option value="stringhe-concatenate">stringhe concatenate</ion-select-option>
            <ion-select-option value="stringa-composta">stringa composta</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>     

      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>

      <ion-col class="ion-text-center">
        <ion-button routerLink="/{{indirizzo}}">Vai all'esercizio</ion-button>
      </ion-col>

      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
