<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">n36</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >

    <ion-row>
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Inserisci x</ion-label>
          <ion-input clearOnEdit="true" class="ion-text-center" type="number" name="x" id="x" [(ngModel)]="x"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Inserisci numero</ion-label>
          <ion-input clearOnEdit="true" class="ion-text-center" type="number" name="numero" id="numero" [(ngModel)]="numero"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>          
        <ion-button (click)="insNum()">Inserisci numero</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      
      <ion-col class="ion-text-center">
        
        <ion-button (click)="calcola()">Calcola risultato</ion-button>
        <ion-row>
          <h5>{{str}}</h5>
        </ion-row>

      </ion-col>
      
      <ion-col></ion-col>
    
    </ion-row>

  </ion-grid>

  <app-ritorna-home></app-ritorna-home>
</ion-content>
