<ion-content [fullscreen]="true">
  <div class="center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>IMPICCATO</h5>
        </ion-col>

        <ion-col>
          <img src={{url}} height="500px" class="ion-align-self-end">
        </ion-col>
       
        <ion-col>
          <ion-row>
            <h5>Tentativi rimasti: {{tentativi}}</h5>
          </ion-row>
          <ion-row>
            <h5>Lettere gia' usate: {{lettereUsate}}</h5>
          </ion-row>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
  <div class="center">
    <h4>{{parolaNascosta}}</h4>
  </div>
  <br>
  <div class="center">
    <ion-grid>
      <ion-row class="center">
        <ion-item class="ion-text-center">
          <ion-input placeholder="Inserisci lettera" clearOnEdit="true" [(ngModel)]="lettera"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="center">
        <ion-col></ion-col>
        <ion-button (click)="checkChar()">Controlla</ion-button>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </div>
</ion-content>
